<template name="register">
<div class="row">
<div class="large-12 columns">
<div class="panel">
<div class="row">
<div class="large-6 columns">
<h7> Please Fill In the Required Fields to Use the App or Login <a href="login">here</a></h7>
<form class="register">  
<hr/>
<label>Your Email
<input name ="email" type="text" required/>
</label>

<label>Your Username
<input name ="username" type="text" required/>
</label>
  
<label>Password 
<input name ="password" type="password" required/>
</label>  

<button type="submit" class="button radius" value="register">Sign Up</button>   
</form>
</div>
</div>
</div>
</div>
</div>
</template> 