<template name="caseStudy2Review">
<hr/>
<div class="row">
<div class="large-12 columns">
<div class="panel">
<div class="row">
<div class="large-12 columns">
  {{#each caseStudy2Answers}}
  <hr/><p>You are now halfway through the Past Paper with {{overallMark}} out of a possible 30 marks.</p>
  <div class="panel" id="answers">
  <h5> Question 2A - Your Answers: </h5>
  <li> <span class="info label">{{compareObjectives}}</span></li> 
  </div>
  <div class="panel" id="answers">
  <h5> Question 2B part 1 - Your Answers: </h5>
  <li> <span class="info label">{{methodOfPromotion}}</span> </li> 
  </div>
  <div class="panel" id="answers">
  <h5> Question 2B part 2 - Your Answers: </h5>
  <li> <span class="info label">{{describeOtherMethods}}</span></li>
  </div>
  <div class="panel" id="answers">
  <h5> Question 2C - Your Answers: </h5>
  <li> <span class="info label">{{externalFactors}}</span></li>
  </div>
  <div class="panel" id="answers">
  <h5> Question 2D part 1 - Your Answers: </h5>
  <li> <span class="info label">{{anotherMethodOfDistribution}}</span></li> 
  <hr/><h5> Question 2D part 2 - Your Answers: </h5>
  <li> <span class="info label">{{advantagesAndDisAdvantages}}</span></li> 
  </div>
  <div class="panel" id="answers">
  <h5> Question 2E - Your Answers: </h5>
  <li> <span class="info label">{{settingPriceFactors}}</span></li> 
  </div>
  <hr/>
  <p><a href="/section2FirstLot" class="button success">Continue On To The Next Stage!</a></p>
{{/each}}  
</div>
</div> 
</div>
</div>
</div>   
</template>  