<template name="caseStudy2Questions">
<hr/>
<div class="row">
<div class="large-12 columns">
<div class="panel">
<div class="row">
<div class="large-12 columns">
<a href="#" data-reveal-id="caseStudyModal" class="button info">Show Me The Case Study Again</a>
<div id="caseStudyModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
{{> caseStudy2Modal }}
</div>  
{{#each caseStudy2Questions}}
  <p>{{question2a}}</p>
{{/each}}
<form id="caseStudy2Questions">  
<p><input type="text" name="compareObjectives" placeholder="Compare the Big Issue Objectives with those of a public sector organisation"/></p>

{{#each caseStudy2Questions}}
  <p>{{question2bPart1}}</p>
{{/each}} 
  
<p><input type="text" name="methodOfPromotion" placeholder="identify the method of promotion used by the Big issue"/></p>
  
{{#each caseStudy2Questions}}
  <p>{{question2bPart2}}</p>
{{/each}}
  
<p><input type="text" name="describeOtherMethods" placeholder="Describe other methods of promotion that could be used"/></p>

{{#each caseStudy2Questions}}
  <p>{{question2c}}</p>
{{/each}}
  
<p><input type="text" name="externalFactors" placeholder="Explain how external factors could affect the success of The Big Issue."/></p>
  
{{#each caseStudy2Questions}}
  <p>{{question2dPart1}}</p>
{{/each}}
  
<p><input type="text" name="anotherMethodOfDistribution" placeholder="Identify another method of distribution."/></p>
  
{{#each caseStudy2Questions}}
  <p>{{question2dPart2}}</p>
{{/each}}
  
<p><input type="text" name="advantagesAndDisAdvantages" placeholder="Discuss the advantages and disadvantages of this method."></p>
  
{{#each caseStudy2Questions}}
  <p>{{question2e}}</p>
{{/each}}
<p><input type="text" name="settingPriceFactors" placeholder="factors to be considered when setting the price for The Big Issue"/></p>
  
<hr/>
</form>  
<input type="submit" class="button success" value="Mark This Section!">
</div>
</div> 
</div>
</div>
</div>  
</template>

<template name="caseStudy2Modal">
<h4> Section 2 - Case Study 2</h4>
<p>The Big Issue magazine was launched in 1991 by Gordon Roddick and John Bird in response to the problem of homelessness on the streets of London.</p>
<p>The Big Issue aims to “help them to help themselves”. The partners offer homeless people the opportunity to earn a legitimate income by becoming a vendor and selling magazines on the street. </p>
<p>The vendor buys the magazine for £1.25 and sells it for £2.50. Over twenty years later the organisation has helped thousands of vulnerable people to take control of their lives and currently works with around 2000 homeless people across the UK.</p> 
<p>The magazine has 63 distribution points nationwide. The Big Issue is an example of a successful social enterprise. The magazine has clear social benefits and a reputation for getting exciting guest editors and exclusive celebrity</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>  
</template>