<template name="caseStudy2">
<hr/>
<div class="row">
<div class="large-12 columns">
<div class="panel">
<div class="row">
<div class="large-12 columns">
<h4> Section 2 - Case Study 2</h4>
<p>The Big Issue magazine was launched in 1991 by Gordon Roddick and John Bird in response to the problem of homelessness on the streets of London.</p>
<p>The Big Issue aims to “help them to help themselves”. The partners offer homeless people the opportunity to earn a legitimate income by becoming a vendor and selling magazines on the street. </p>
<p>The vendor buys the magazine for £1.25 and sells it for £2.50. Over twenty years later the organisation has helped thousands of vulnerable people to take control of their lives and currently works with around 2000 homeless people across the UK.</p> 
<p>The magazine has 63 distribution points nationwide. The Big Issue is an example of a successful social enterprise. The magazine has clear social benefits and a reputation for getting exciting guest editors and exclusive celebrity</p> 
<a href="/caseStudy2Questions" class="button secondary">I'm ready. Let's see the questions</a>
</div>
</div>
</div>
</div>
</div>  
</template>