nav.top-bar {
	background-color: white;
	color: black;
}

.top-bar .name h1 a, li, p {
	color: grey;
}

hr {
  border-style: none;
}

h4 {
  text-align: center;
}

li {
  list-style-type: none;
  padding: 2px;
}

table {
    width: 100%;
}

th {
  height: 25px;
  text-align: left;
  padding-left: 10px;
}

.label.info, .label.secondary {
  font-size: 0.9em;
}

#answers {
  background-color: white;
}
