<template name="section2FirstLot">
<hr/>
<div class="row">
<div class="large-12 columns">
<div class="panel">
<div class="row">
<div class="large-12 columns">
{{#each section2FirstLot}}
<p></p>{{question3a}}
{{/each}}  
<p><input type="text" name="question3a" placeholder="Advantages and disadvantages of recycling to an organisation."/></p>  
{{#each section2FirstLot}}
<p></p>{{question3b}}
{{/each}}   
<p><input type="text" name="question3b" placeholder="problems of having too much stock."/></p>  
{{#each section2FirstLot}}
<p></p>{{question3cPart1}}
{{/each}}
<p><input type="text" name="question3cPart1" placeholder="2 methods of ensuring quality"/></p>  
{{#each section2FirstLot}}
<p></p>{{question3cPart2}}
{{/each}}
<p><input type="text" name="question3cPart2" placeholder="Describe the methods identified in (c)(i)."/></p>  
{{#each section2FirstLot}}
<p></p>{{question4a}}
{{/each}}
<p><input type="text" name="question4a" placeholder="Describe what Fixed Costs, Variable Costs and Sales Revenue are"/></p>  
{{#each section2FirstLot}}
<p></p>{{question4b}}
{{/each}}
<p><input type="text" name="question4b" placeholder=" actions that can be taken by an organisation to reduce costs."/></p>  
{{#each section2FirstLot}}
<p></p>{{question4cPart1}}
{{/each}} 
<p><input type="text" name="question4cPart1" placeholder="Justify the use of a spreadsheet in the finance department."/></p>  
{{#each section2FirstLot}}
<p></p>{{question4cPart2}}
{{/each}}
<p><input type="text" name="question4cPart2" placeholder="the ways that other software can be used in the finance department"/></p>
<p><input type="submit" class="button success" value="Mark This Section!"></p>  
</div>
</div> 
</div>
</div>
</div>   
</template>  