<template name="section2LastLot">
<div class="row">
<div class="large-12 columns">
<div class="panel">
<div class="row">
<div class="large-12 columns">
{{#each section2LastLot}}
<p></p>{{question5a}}
{{/each}}  
<p><input type="text" name="question5a" placeholder="Describe the selection process used to choose the right person for the job."/></p>  
{{#each section2LastLot}}
<p></p>{{question5bPart1}}
{{/each}}   
<p><input type="text" name="question5bPart1" placeholder="2 methods of industrial action."/></p>  
{{#each section2LastLot}}
<p></p>{{question5bPart2}}
{{/each}}
<p><input type="text" name="question5bPart2" placeholder=" the impact of industrial action on an organisation."/></p>  
{{#each section2LastLot}}
<p></p>{{question5c}}
{{/each}}
<p><input type="text" name="question5c" placeholder="Compare piece-rate with time-rate as methods of calculating wages."/></p>  
{{#each section2LastLot}}
<p></p>{{question6a}}
{{/each}}
<p><input type="text" name="question6a" placeholder="2 internal factors that can affect the success of an organisation"/></p>  
{{#each section2LastLot}}
<p></p>{{question6b}}
{{/each}}
<p><input type="text" name="question6b" placeholder="Describe factors of production."/></p>  
{{#each section2LastLot}}
<p></p>{{question6cPart1}}
{{/each}} 
<p><input type="text" name="question6cPart1" placeholder="Identify 2 stakeholders of a supermarket."/></p>  
{{#each section2LastLot}}
<p></p>{{question6cPart2}}
{{/each}}
<p><input type="text" name="question6cPart2" placeholder="Explain how these stakeholders could influence the success of the organisation."/></p>

  <p><input type="submit" class="button success" value="Mark This Section!"></p>  
</div>
</div> 
</div>
</div>
</div>   
</template>