<template name="userOverview">
<hr/>
<div class="row">
<div class="large-12 columns">  
<div class="panel">
<div class="row">
<div class="large-12 columns">
  <h5> {{currentUser.username}}'s Dashboard </h5>
  <p> Here you can view past papers you have done in the past, start a new one or continue on with existing ones. </p>
  <p> Business Management 2014 Nat 5 Past Paper - <a href="#" name="start" class="button tiny">Start a New Past Paper!</a></p>
  <hr/><table name="pastPapers">
  <th>Past Paper Name</th>
  <th> Past Paper ID </th>
  <th>Mark </th>
  <th> Completion </th>
  <th>Last Modified</th> 
  <th></th>
  {{#each returnPastPapers}}
  <tr><td> <a href="#" data-reveal-id="pastPaperInfo" >{{pastPaperName}}</a> </td>
  <div id="pastPaperInfo" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  {{> pastPaperInfo }}
  </div>    
  <td> <span class="info label" id="pastPaperId">{{_id}}</span></td>  
  <td> {{overallMark}}/70 </td>
  <td> {{percentage}}</td>  
  <td> {{#if createdAt}} {{createdAt}} {{else}} {{completedOn}} {{/if}} </td>  
  <td> {{#if completed}} {{else}} <a href="" class="button success">Continue</a> {{/if}} </td></tr>
  {{/each }}
  </table>
</div>
</div>
</div>
</div>
</div>   
</template>

<template name="pastPaperInfo">
<h3> Past Paper Overview - Business Management </h3> 
<p> N5 - National Qualifications </p>
<p> Total marks—70 </p>
<p> SECTION 1—30 marks </p>
<p> Attempt BOTH Case Studies </p>
<p> SECTION 2—40 marks </p>
<p> Attempt ALL questions </p>
<a class="close-reveal-modal" aria-label="Close">&#215;</a>  
</template>  