<template name="caseStudy1Questions">
<hr/>
<div class="row">
<div class="large-12 columns">
<div class="panel">
<div class="row">
<div class="large-12 columns">
<a href="#" data-reveal-id="caseStudyModal" class="button info">Show Me The Case Study Again</a>
<div id="caseStudyModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
{{> caseStudyModal }}
</div>  
{{#each caseStudy1Questions}}
  <p>{{question1APart1}}</p>
{{/each}}
<form id="caseStudy1Questions">  
<p><input type="text" name="firstSkill" placeholder="First enterprising skill goes here"/></p>
  
<p><input type="text" name="secondSkill" placeholder="Second enterprising skill goes here"/></p>

{{#each caseStudy1Questions}}
  <p>{{question1APart2}}</p>
{{/each}}   
<p><input type="text" name="howDoes1stSkillHelp" placeholder="How the first enterprising skill helps her business goes here"/></p>
  
<p><input type="text" name="howDoes2ndSkillHelp" placeholder="How the second enterprising skill helps her business goes here"/></p>

{{#each caseStudy1Questions}}
  <p>{{question1b}}</p>
{{/each}}
  
<p><input type="text" name="1typeOfFinance" placeholder="1 type of finance provided by the PSYBT."/></p>
  
<p><input type="text" name="anotherTypeOfFinance" placeholder="Another type of finance provided by the PSYBT."/></p>

{{#each caseStudy1Questions}}
  <p>{{question1c}}</p>
{{/each}}
<p><input type="text" name="1importanceOfGoodCustomerService" placeholder="1 importance of providing good customer service."/></p>
  
<p><input type="text" name="anotherImportanceOfGoodCustomerService" placeholder="Another importance of providing good customer service."></p>
  
{{#each caseStudy1Questions}}
  <p>{{question1Dpart1}}</p>
{{/each}}
<p><input type="text" name="1stageOfRecruitmentProcess" placeholder="1 stage of the recruitment process."/></p>
  
<p><input type="text" name="anotherStageOfRecruitmentProcess" placeholder="Another stage of the recruitment process."/></p>
  
<p><input type="text" name="andAnotherStageOfRecruitmentProcess" placeholder="And another stage of the recruitment process"/></p>
  
{{#each caseStudy1Questions}}
  <p>{{question1Dpart2}}</p>
{{/each}}
<p><input type="text" name="1featureOfEqualityAct" placeholder="1 feature of the Equality Act 2010."/></p>
  
<p><input type="text" name="anotherFeatureOfEqualityAct" placeholder="Another feature of the Equality Act 2010."/></p>
{{#each caseStudy1Questions}}
  <p>{{question1Epart1}}</p>
{{/each}}
<p><input type="text" name="productLifeCycleStage" placeholder="identify the stage of the product life cycle for Caroline’s business."></p>
  
{{#each caseStudy1Questions}}
  <p>{{question1Epart2}}</p>
{{/each}}
<p><input type="text" name="describeStage" placeholder="describe the stage you mentioned"/></p>
  
<hr/>
</form>  
<input type="submit" class="button success" value="Mark This Section!">
</div>
</div> 
</div>
</div>
</div>  
</template>

<template name="caseStudyModal">
<h4> Section 1 - Case Study </h4>
<h5> It’s All Wash and Go for Caroline </h5>
<p>Caroline Gray opened Dogs Body Design in Kelso in 2013 with
  the help of the Prince’s Scottish Youth Business Trust (PSYBT).</p>
<p>Dogs Body Design provides dog grooming services and sells
homemade treats, handmade dog coats and bandanas which are
all made locally.</p>
<p> Caroline trained for a year before taking up a post in a dog
grooming salon. She then managed a salon before deciding to
  set up her own business. </p><p>The PSYBT provided a business advisor
who helped her prepare a business plan and cash budget. They
  also gave a £5000 loan and a grant of £250.</p>
<p>The young entrepreneur’s idea proved so successful in just her first couple of weeks
that she employed a member of staff. Her popularity means she is fully booked up
  to a week in advance. </p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</template>