<template name="caseStudy1Review">
<hr/>
<div class="row">
<div class="large-12 columns">
<div class="panel">
<div class="row">
<div class="large-12 columns">
  {{#each caseStudy1Answers}}
  <hr/><p>You have finished Case Study 1 with {{overallMark}} out of a possible 15 marks.</p>
  <div class="panel" id="answers">
  <h5> Question 1A part 1 - Your Answers: </h5>
  <li> <span class="info label">{{firstSkill}}</span></li> 
  <li> <span class="info label">{{secondSkill}}</span> </li>
  </div>
  <div class="panel" id="answers">
  <h5> Question 1A part 2 - Your Answers: </h5>
  <li> <span class="info label">{{howDoesFirstSkillHelp}}</span> </li> 
  <li> <span class="info label">{{howDoesSecondSkillHelp}}</span> </li>
  </div>
  <div class="panel" id="answers">
  <h5> Question 1B - Your Answers: </h5>
  <li> <span class="info label">{{onetypeOfFinance}}</span></li>
  <li> <span class="info label">{{anotherTypeOfFinance}}</span></li>
  </div>
  <div class="panel" id="answers">
  <h5> Question 1C - Your Answers: </h5>
  <li> <span class="info label">{{oneImportanceOfGoodCustomerService}}</span></li>
  <li> <span class="info label">{{anotherImportanceOfGoodCustomerService}}</span> </li>
  </div>
  <div class="panel" id="answers">
  <h5> Question 1D part 1 - Your Answers: </h5>
  <li> <span class="info label">{{oneStageOfRecruitmentProcess}}</span></li> 
  <li> <span class="info label">{{anotherStageOfRecruitmentProcess}}</span> </li> 
  <li> <span class="info label">{{andAnotherStageOfRecruitmentProcess}}</span> </li> 
  <hr/><h5> Question 1D part 2 - Your Answers: </h5>
  <li> <span class="info label">{{oneFeatureOfEqualityAct}}</span></li> 
  <li> <span class="info label">{{anotherFeatureOfEqualityAct}}</span> </li> 
  </div>
  <div class="panel" id="answers">
  <h5> Question 1E - Your Answers: </h5>
  <li> <span class="info label">{{productLifeCycleStage}}</span></li> 
  <li> <span class="info label">{{describeStage}}</span></li> 
  </div>
  <hr/>
  <p><a href="/caseStudy2" class="button success">Continue On To Case Study 2!</a></p>
{{/each}}  
</div>
</div> 
</div>
</div>
</div>  
</template>  