<template name="caseStudy1">
<hr/>
<div class="row">
<div class="large-12 columns">
<div class="panel">
<div class="row">
<div class="large-12 columns">
<h4> Section 1 - Case Study </h4>
<h5> It’s All Wash and Go for Caroline </h5>
<p>Caroline Gray opened Dogs Body Design in Kelso in 2013 with
  the help of the Prince’s Scottish Youth Business Trust (PSYBT).</p>
<p>Dogs Body Design provides dog grooming services and sells
homemade treats, handmade dog coats and bandanas which are
all made locally.</p>
<p> Caroline trained for a year before taking up a post in a dog
grooming salon. She then managed a salon before deciding to
  set up her own business. </p><p>The PSYBT provided a business advisor
who helped her prepare a business plan and cash budget. They
  also gave a £5000 loan and a grant of £250.</p>
<p>The young entrepreneur’s idea proved so successful in just her first couple of weeks
that she employed a member of staff. Her popularity means she is fully booked up
  to a week in advance. </p> 
<a href="/caseStudy1Questions/{{_id}}" class="button secondary">I'm ready. Let's see the questions</a>
</div>
</div>
</div>
</div>
</div>  
</template>