<template name="main">
<body>
<div class="row">
<div class="large-12 columns">
<nav class="top-bar" data-topbar role="navigation">
<ul class="title-area">
<li class="name">
<h1><a href="#">Past Paper Demo Application</a></h1>
</li> 
<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
</ul>
{{#if currentUser}}  
<ul class="right">
<li class="divider"></li>
<li>{{currentUser.username}}</li>
<li><a href="/userOverview">My Dashboard</a></li>    
<!-- <p>Log Out</p> -->
<a href="#" class="button tiny">Log Out</a>

<hr/>  
</ul>
{{/if}}  
</nav>
</div>
<hr/>  
{{> yield}} 
</div>
<hr/> 
</body>
</template>