<template name="examOverview">
<hr/>
<div class="row">
<div class="large-12 columns">  
<div class="panel">
<div class="row">
<div class="large-10 columns"> 
<h3> Past Paper Overview - Business Management </h3> 
<p> N5 - National Qualifications </p>
<p> Total marks—70 </p>
<p> SECTION 1—30 marks </p>
<p> Attempt BOTH Case Studies </p>
<p> SECTION 2—40 marks </p>
<p> Attempt ALL questions </p>  
<a href="/caseStudy1/" class="button success">Start the Exam!</a> 
</div>
</div>
</div>
</div>
</div>                                        
</template>