<template name="finalReview">
<body>
<div class="row">
<div class="large-12 columns">  
<div class="panel">
<div class="row">
<div class="large-12 columns">  
{{#each pastPaper}}
<h5> Identify 2 enterprising skills or qualities that Caroline has demonstrated. </h5>
  <div class="panel" id="answers">
  <p><li>{{firstSkill}}</li></p>
  <p><li>{{secondSkill}}</li></p>
  </div>
<hr/>  
<h5> Outline how these skills or qualities help Caroline develop her business. </h5>  
  <div class="panel" id="answers">
  <p><li> {{howDoesFirstSkillHelp}}</li> </p>
  <p><li> {{howDoesSecondSkillHelp}}</li> </p>
  </div>  
<hr/>
  <h5> Compare the 2 types of finance provided by the PSYBT. </h5>
  <div class="panel" id="answers">
  <p><li> {{onetypeOfFinance}}</li></p>
  <p><li> {{anotherTypeOfFinance}}</li></p>
  </div>  
<hr/>
  <h5> Justify the importance of providing good customer service. </h5>
  <div class="panel" id="answers">
  <p>  <li> {{oneImportanceOfGoodCustomerService}}</li> </p>
  <p><li> {{anotherImportanceOfGoodCustomerService}}</li></p>
  </div>  
<hr/>
  <h5> Outline 3 stages in the recruitment process </h5>
  <div class="panel" id="answers">
  <p>  <li> {{oneStageOfRecruitmentProcess}}</li> </p>
  <p><li> {{anotherStageOfRecruitmentProcess}}</li> </p>
  <p><li> {{andAnotherStageOfRecruitmentProcess}}</li> </p>
  </div>  
<hr/>
   <h5> Describe the features of the Equality Act 2010. </h5>
    <div class="panel" id="answers">
  <p><li> {{oneFeatureOfEqualityAct}}</li> </p>
  <p><li> {{anotherFeatureOfEqualityAct}}</li> </p>
  </div>  
<hr/>
  <h5>  Identify the stage of the product life cycle for Caroline’s business </h5>
  <div class="panel" id="answers">
  <p> <li> {{productLifeCycleStage}}</li> </p>
  <p> <li> {{describeStage}}</li> </p>
  </div>  
<hr/>   
  <h5> Compare the objectives of The Big Issue, identified from the case study, with those of a public sector organisation.</h5>
  <div class="panel" id="answers">
  <p><li> {{compareObjectives}}</li> </p>
  </div>
<hr/> 
  <h5> Identify the method of promotion that is used by The Big Issue. </h5>
  <div class="panel" id="answers">
  <p><li> {{methodOfPromotion}}</li> </p>
  </div>  
<hr/>
  <h5> Other methods of promotion that could be used by The Big Issue. </h5>
  <div class="panel" id="answers">
  <p><li> {{describeOtherMethods}}</li></p>
  </div>  
<hr/>
  <h5>  How external factors could affect the success of The Big Issue. </h5>
  <div class="panel" id="answers">
  <p><li> {{externalFactors}}</li></p>
  </div>  
<hr/>
  <h5> Identify another method of distribution. </h5>
  <div class="panel" id="answers">
  <p><li> {{anotherMethodOfDistribution}}</li></p>
  </div>  
<hr/><h5> State the advantages and disadvantages of this method.</h5>
  <div class="panel" id="answers">
  <p><li> {{advantagesAndDisAdvantages}}</li> </p>
  </div>  
<hr/> 
  <h5> Describe the factors to be considered when setting the price for The Big Issue </h5>
  <div class="panel" id="answers">
  <p><li> {{settingPriceFactors}}</li> </p>
  </div>
  <hr/>
  <h5> Discuss the advantages and disadvantages of recycling to an organisation. </h5>
  <div class="panel" id="answers">
  <p><li> {{question3a}}</li> </p>
  </div>
  <hr/>
  <h5> Explain the problems of having too much stock. </h5>
  <div class="panel" id="answers">
  <p><li> {{question3b}}</li> </p>
  </div>
  <hr/>
  <h5> Identify 2 methods of ensuring quality </h5>
  <div class="panel" id="answers">
  <p><li> {{question3cPart1}}</li> </p>
  </div>
  <hr/>
  <h5> Describe the methods identified. </h5>
  <div class="panel" id="answers">
  <p><li> {{question3cPart2}}</li> </p>
  </div>
  <hr/>
  <h5>  Define the following financial terms. Fixed Costs, Variable Costs and Sales Revenue</h5>
  <div class="panel" id="answers">
  <p><li> {{question4a}}</li></p>
  </div>
  <hr/>
  <h5>  Describe the actions that can be taken by an organisation to reduce costs </h5>
  <div class="panel" id="answers">
  <p><li> {{question4b}}</li></p>
  </div>
  <hr/>
  <h5>  Justify the use of a spreadsheet in the finance department. </h5>
  <div class="panel" id="answers">
  <p><li> {{question4cPart1}}</li></p>
  </div>
  <hr/>
  <h5>  Describe the ways that other software can be used in the finance department. </h5>
  <div class="panel" id="answers">
  <p><li> {{question4cPart2}}</li></p>
  </div>
  <hr/>
  <h5>  Describe the selection process used to choose the right person for the job. </h5>
  <div class="panel" id="answers">
  <p><li> {{question5a}}</li></p>
  </div>
  <hr/>
  <h5>  Outline 2 methods of industrial action. </h5>
  <div class="panel" id="answers">
  <p><li> {{question5bPart1}}</li></p>
  </div>
  <hr/>
  <h5>  Explain the impact of industrial action on an organisation. </h5>
  <div class="panel" id="answers">
  <p><li> {{question5bPart2}}</li></p>
  </div>
  <hr/>
  <h5>  Compare piece-rate with time-rate as methods of calculating wages. </h5>
  <div class="panel" id="answers">
  <p><li> {{question5c}}</li></p>
  </div>
  <hr/>
  <h5>  Outline 2 internal factors that can affect the success of an organisation. </h5>
  <div class="panel" id="answers">
  <p><li> {{question6a}}</li></p>
  </div>
  <hr/>
  <h5>  Describe factors of production </h5>
  <div class="panel" id="answers">
  <p><li> {{question6b}}</li></p>
  </div>
  <hr/>
  <h5>  Identify 2 stakeholders of a supermarket. </h5>
  <div class="panel" id="answers">
  <p><li> {{question6cPart1}}</li></p>
  </div>
  <hr/>
  <h5>  Explain how these stakeholders could influence the success of the organisation. </h5>
  <div class="panel" id="answers">
  <p><li> {{question6cPart2}}</li></p>
  </div>
  <hr/>
  <p><input type="submit" class="button success" value="Finish!"></p>
{{/each}}
</div>
</div>
</div>
</div>
</div>    
</body>  
</template>